

*{
    margin: 0;
    padding: 0;

}
/* src/App.css */
@font-face {
  font-family: 'Burbank Big Condensed Black';
  src: url('../assets/fonts/burbank.otf') format('opentype'),
  url('../assets/fonts/burbak2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*
body {
  font-family: 'Burbank Big Condensed Black', sans-serif;
}

.header {
  font-family: 'Burbank Big Condensed Black', sans-serif;
}

body{
  background: rgb(122,100,28);
  background: linear-gradient(90deg, rgba(122,100,28,0.8855917366946778) 0%, rgba(253,228,29,0.9192051820728291) 50%, rgba(134,252,69,1) 100%);
}
*/
body{
  background: rgb(230,223,4);
  background: radial-gradient(circle, rgba(230,223,4,0.025647759103641476) 0%, rgba(122,111,28,1) 89%);
}