.navHeader {
    background-color: #7a641c;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    border-radius: 2px;
}
.navLinks {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 5px 0 0 0;
    width: 50px;
    height: 38px;
    color: rgb(175, 52, 0);
}

.pea {
    display: flex;
    width: 5.5vw;
    animation: moveLeft 3s infinite;
}

@keyframes moveLeft {
    0% {
        transform: translateX(-35vw); /* Start off the screen to the right */
    }
    100% {
        transform: translateX(33vw); /* End off the screen to the left */
    }
}

/* Media queries for responsiveness */
@media (max-width: 480px) {
    .navHeader {
        padding: 0.5rem;
    }

    .logo {
        width: 40px;
        height: 30px;
    }

    .pea {
        width: 8vw;
        animation: moveLeftSecond 3s infinite; /* Change animation for small screens */
    }

}
@keyframes moveLeftSecond {
    0% {
        transform: translateX(-15vw); /* Start off the screen to the right */
    }
    100% {
        transform: translateX(80vw); /* End off the screen to the left */
    }
}
@media (max-width: 992px) {
    .navHeader {
        padding: 0.5rem;
    }

    .logo {
        width: 40px;
        height: 30px;
    }

    .pea {
        width: 9vw;
        height: 10vw;
        animation: moveLeftThird 3s infinite; /* Change animation for small screens */
    }

}
@keyframes moveLeftThird {
    0% {
        transform: translateX(-15vw); /* Start off the screen to the right */
    }
    100% {
        transform: translateX(8vw); /* End off the screen to the left */
    }
}
