.introClass{
    width: 100%;
    display: flex;
     justify-content:center;
    align-items: center;
    background: rgb(230,223,4);
background: radial-gradient(circle, rgba(230,223,4,0.025647759103641476) 0%, rgba(122,111,28,1) 89%);
  height: 70vh;
  
}
.introClass h1{
    margin-left: 5px;
    font-family: 'Burbank Big Condensed Black', sans-serif;
    color: greenyellow;
    text-shadow: 2px 2px 2px #7a641c;
    font-size: 6vw;
}
.introClass h3{
    margin-left: 5px;
    font-family: 'Burbank Big Condensed Black', sans-serif;
    color: greenyellow;
    text-shadow: 2px 2px 2px #7a641c;
    font-size: 4vw;
}
.imgDiv{
    margin:25px;
}
.zombie{
    display: flex;
    width: 60px;
    animation: moveRightToLeft 10s  linear infinite;
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(18vw); /* Start off the screen to the right */
    }
    100% {
        transform: translateX(-1vw); /* End off the screen to the left */
    }
}

