.introClass{
    width: 100%;
    display: flex;
     justify-content:center;
    align-items: center;
    background: rgb(230,223,4);
    background: radial-gradient(circle, rgba(230,223,4,0.025647759103641476) 0%, rgba(122,111,28,1) 89%);
     height: 70vh;
  text-align:end;
  overflow: hidden;
 
}
.mainH{
    margin-left: 95px;
    font-family: 'Burbank Big Condensed Black', sans-serif;
    color: greenyellow;
    text-shadow: 2px 2px 2px #7a641c;
    font-size: 2vw;
}
.minH{
    margin-left: 5px;
    font-family: 'Burbank Big Condensed Black', sans-serif;
    color: greenyellow;
    text-shadow: 2px 2px 2px #7a641c;
    font-size: 1vw;
}
.imgDiv{
    margin:20px;
}
.zombie{
    display: flex;
    width: 60px;
    animation: moveRightToLeft 5s  linear infinite;
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(20vw); /* Start off the screen to the right */
    }
    100% {
        transform: translateX(5vw); /* End off the screen to the left */
    }
}
@media (max-width:992px) {

    .zombie{
        display: flex;
        width: 50px;
        animation: moveRight 5s infinite;;
    }
    
}
@keyframes moveRight{
    0% {
        transform: translateX(40vw); /* Start off the screen to the right */
    }
    100% {
        transform: translateX(12vw); /* End off the screen to the left */
    }
}
